*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    max-width: 800px;
    
}

.profile-container{
    width: 100%;
    display: flex;
    justify-content: start;
    padding: clamp(1.2rem ,5vw, 3rem);
  
  
  
   
}
.img-container{
    overflow: hidden;
    width: 300px;
    height: 200px;
    cursor: pointer;
    border-radius: 999px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.5)
}

.img-container img{
    transition: transform 0.5s;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-container:hover img{
    transform: scale(1.2);
    
}
.profile-inner{
    display: flex;
    gap: 30px;
    
    
}
.profile-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: clamp(1.5rem, 2vw, 1.3rem);
    font-weight: 700;
    pointer-events: none;
    gap: 10px;
}


.list{
    font-size: 1rem;
    color: rgb(66, 60, 60);
    margin-left: 20px;
}


.aboutme-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: clamp(1.2rem, 2vw, 1.3rem);
    padding: clamp(1.5rem ,5vw, 1rem);
    border-radius: 50px;
   pointer-events: none;
}

.skills{
 display: flex;
 justify-content: center;
 align-items: left;
 flex-direction: column;
 gap: 10px;
 text-align: left;
 font-size: clamp(1.2rem, 2vw, 1rem);
 padding: clamp(1.5rem ,5vw, 1rem);

}

.skill-grid{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  text-align: center;
}

.skill-grid p{
    padding: 20px;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;
}
.skill-grid p:nth-child(1){
    background-color: rgb(253, 91, 10);
    
}
.skill-grid p:nth-child(2){
    background-color: rgb(59, 47, 232);
}
.skill-grid p:nth-child(3){
    background-color: rgb(217, 224, 12);
}
.skill-grid p:nth-child(4){
    background-color: rgb(32, 171, 184);
}
.skill-grid p:nth-child(5){
    background-color: rgb(17, 17, 11);
}
.skill-grid p:nth-child(6){
    background-color: rgba(185, 69, 16, 0.925);
    color: rgb(81, 42, 207);
}
.skill-grid p:nth-child(7){
    background-color: rgb(124, 12, 105);
}
.skill-grid p:nth-child(8){
    background-color: #007bff;
}


.projects{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
     font-size: clamp(1.2rem, 2vw, 1rem);
     padding: clamp(1.5rem ,5vw, 1rem);
     gap: 20px;
}

.project-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
   
}

.project-grid .project1{
    background-color: #656b72;
    border-radius: 3rem;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}